# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# ML Models (Optional)
# models/*.pkl

# Logs
*.log